# Ignorar carpeta dentro de data
data/frames_extraidos/**

# Ignorar carpeta dentro de external
external/stylegan2-ada/

# Ignorar TODOS los checkpoints en cualquier parte del repo
**/checkpoints/

# Permitir README dentro de checkpoints (si lo usas)
!**/checkpoints/README.md

