# Ignorar carpeta dentro de data
data/framesextraidos/

# Ignorar carpeta dentro de external
external/stylegan2-ada/

# Ignorar todo en checkpoints
checkpoints/*

# PERO permitir README
!checkpoints/README.md

